<?xml version="1.0"?>

<launch>
  
  <!-- Start "auto_trax_io" to provide IO interface for auto_trax  -->
  <node name="auto_trax_io_node" pkg="auto_trax_io" type="auto_trax_io_node"/>

  <!-- Start "rtimulib_ros" to provide IMU topics. -->
  <node name="rtimulib_ros_node" pkg="rtimulib_ros" type="rtimulib_ros"/>


  <!-- Start parameters 
  <rosparam command="load" file="$(find skye_controls)/inputs/skye_controls.yaml"/>  -->

</launch>
