<?xml version="1.0"?>

<launch>
  <node name="line_tracking_node" pkg="auto_trax_sensors" type="line_tracking_node" output="screen">
    <rosparam command="load" file="$(find auto_trax_sensors)/config/primesense_calib.yaml"/>

    <param name="image_sub_topic" value="/camera/rgb/image_raw" />
    <param name="image_pub_topic" value="image_segmented" />
    <param name="occ_grid_pub_topic" value="occupancy_grid" />
    <param name="horizon_pixels" value="150" />
    <param name="r_thresh" value="185" /> <!-- 255 -->
    <param name="g_thresh" value="174" /> <!-- 230 -->
    <param name="b_thresh" value="142" /> <!-- 160 -->
    <param name="rgb_thresh" value="15" />
  </node>
</launch>
