<launch>

  <node name="auto_trax_controller_node" pkg="auto_trax_controller" type="auto_trax_controller" clear_params="true" output="screen" />
     
  <!--<node name="rviz_node" pkg="rviz" type="rviz" /-->
 
  <!--<rosparam command="load" file="$(find mbzirc_task3_detection)/parameter/parameter_bag.yaml" />-->
  
  <!--param name="object_files_path" type="str" value="$(auto_trax_controller)/object_files.txt" /-->    
  
</launch>
