<launch>
  <node pkg="auto_trax_controller" name="steering_angle_controller_node"
        type="controller_node" clear_params="true" args="steering" >

    <rosparam command="load" file="$(find auto_trax_controller)/parameter/steering_angle_control_params.yaml" />
    <rosparam command="load" file="$(find auto_trax_controller)/parameter/steering_angle_pid_params.yaml" />
  </node>
</launch>


