<?xml version="1.0"?>

<launch>
  <arg name="bag_file" default="$(find auto_trax_tests)/data/dual_laser_scans_2016-06-18-14-21-43.bag"/>

  <!-- Play a recorded rosbag file -->
  <node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(arg bag_file)"/>
  
  <!-- Start the laser_scan_merger node -->
  <node name="auto_trax_laser_scan_merger_node" pkg="auto_trax_sensors" type="laser_scan_merger_node" output="screen">
    <param name="scan_center_pub_topic" value="scan_center" />
    <param name="merged_scan_pub_topic" value="merged_scan" />
    <param name="scan_summary_pub_topic" value="scan_summary" />
    <param name="scan_sub_topic" value="/scan" />
    <param name="frame_id_left" value="camera_left" />
    <param name="frame_id_right" value="camera_right" />
    <param name="left_camera_offset" value="0.15" />
    <param name="left_camera_orientation" value="45" />
    <param name="right_camera_offset" value="-0.15" />
    <param name="right_camera_orientation" value="-45" />
  </node>
</launch>
